/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2016, 11:03:31 AM
    Author     : Andrei
*/

body{
    padding: 100px;
}
.kTable{
    border-collapse: collapse;
    margin: auto;

}
td, th{
    border: 2px solid black;
    padding: 40px;
    font-size: 23px;
    text-align: center;
}
